/* ===== HEADER PRINCIPAL ===== */
header {
    background-color: #5b0c0c;
    box-shadow: 0 2px 5px rgba(94, 11, 30, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* ===== NAVEGACIÓN ===== */
nav {
    background-color: #5b0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 10px;
    transition: transform 3s ease;
}

.logo:hover {
    transform: rotateY(360deg);
    
}

.logo_uni {
    max-width: 5%;
    padding: 0;
    
        transition: transform 3s ease;

}

.logo_uni:hover{
    transform: rotateY(360deg);
    
}


/* ===== MENÚ PRINCIPAL ===== */
.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: yellow;
    background: rgb(70, 1, 1);
}

/* ===== SUBMENÚ ===== */
.menu-item {
    position: relative;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #5b0c0c;
    width: 200px;
    display: none;
    list-style: none;
    z-index: 1001;
}

.submenu li {
    width: 100%;
}

.submenu a {
    display: block;
    padding: 10px 15px;
    color: white;
    border-bottom: 1px solid #701616;
    background: transparent;
}

.submenu a:hover {
    background: #420505;
}

.logo_uni {
    border-radius: 50%;
}
.menu-item:hover .submenu {
    display: block;
}

/* ===== RESPONSIVE ===== */
@media screen and (max-width: 768px) {
    header {
        position: static;   /* Para telefono y tablet */
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        padding: 0;
    }

    .nav-links li a {
        display: block;
        width: 100%;
        padding: 15px 0;
    }
}