* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.link_redes a{
    color: black;
}

a{
    color: white;
    cursor: pointer;
}

body {
    line-height: 1.6;
    color: #333;
    background: #f5f5f5;
}

header {
    display: flex;
    background-color: #5b0c0c;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(94, 11, 30, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    background-color: #5b0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 10px;
}
.logo:hover{
    transform: rotateY(360deg);
    transition: 3s ease;
    perspective: preserve-3d;


}

.logo_uni {
    max-width: 5%;
    padding: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.nav-links a:hover {
    color:yellow;
    background: rgb(70, 1, 1);
}

#hero {
    padding-top: 2rem;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img_principal/UNSIS.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 1rem;
    margin-top: 60px;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

.cta-button {
    background-color: #642727;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.cta-button:hover {
    background-color: hsl(0, 98%, 22%);
}

#noticias {
    padding: 4rem 2rem;
    max-width: 1200px;
    background-color: black;
    margin: 0 auto;
}

#noticias h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    color: #5b0c0c;
    position: relative;
}

.noticias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.noticias-card {
    margin: 100px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}



.noticias-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.noticias-card h3 {
    padding: 1rem;
    color: #333;
    font-size: 1.3rem;
}

.informacion {
    color: #5b0c0c;
    font-weight: bold;
    padding: 0 1rem;
    font-size: 0.9rem;
}

.descripcion {
    padding: 0 1rem 1rem;
    color: #666;
    line-height: 1.5;
}

.noticias-card button {
    margin: 0 1rem 1rem;
    padding: 0.7rem 1.5rem;
    background-color: #5b0c0c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.noticias-card button:hover {
    background-color: #701616;
}

#contacto {
    background-color: #f9f9f9;
    padding: 4rem 2rem;
}

#contacto h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #5b0c0c;
}

footer {
    background-color: #5b0c0c;
    color: white;
    text-align: center;
    padding: 2rem;
}



.gaceta-container {
    max-width: 80%;
    margin: 2rem auto;
    background: white;
    box-shadow: 0 0 20px gray;
    border-radius: 20px;
    overflow: hidden;
}
.gaceta-footer {
    background: #5b0c0c;
    color: white;
    padding: 2rem;
    text-align: center;
}
.portada {
    background: #5b0c0c;
    color: white;
    padding: 3rem 2rem;
    text-align: center;
}

.portada h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.seccion {
    padding: 2rem;
    border-bottom: 1px solid #eee;
}

.seccion h2 {
    color: #5b0c0c;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;
}

.tarjeta {
    background: beige;
    border-radius: 10px;
    padding: 1.5rem;
    
}

.meme-item {
    text-align: center;
    margin-bottom: 2rem;
}

.meme-item img {
    max-width: 70%;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.meme-texto {
    margin-top: 0.5rem;
    font-style: italic;
    font-size: 1.5rem;
    color: black;
}



.content_relevante{
    width: 80%;
    background-color: white;
    margin: 2.5rem auto;
    border-radius: 20px;
    box-shadow: 0 0 20px gray;
    overflow:hidden;
}





.menu-item {
    position: relative;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #5b0c0c;
    width: 200px;
    display: none;
}

.submenu li {
    width: 100%;
}

.submenu a {
    display: block;
    padding: 10px 15px;
    color: white;
    border-bottom: 1px solid #701616;
}

.submenu a:hover {
    background: #420505;
}

.menu-item:hover .submenu {
    display: block;
}