        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        body {
            background-color: black;
            color: white;
            line-height: 1.6;
        }
        
        .contenedor{
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        
        
        header {
            background: linear-gradient(to right, #6B12B0, #030300);
            color: white;
            padding: 30px 0;
            text-align: center;
            border-bottom: 5px solid #4B0082;
        }
        footer{
            background: linear-gradient(to right, #6B12B0, #030300);
            color: white;
            padding: 30px 0;
            text-align: center;
            border-bottom: 5px solid #4B0082;
        }

        .contenido_general{
            border: 1px solid white;    
            padding: 15px 20px;

        }

        .texto{
            text-align: justify;

        }
        
        .contenido_header, .contenido_footer {
            max-width: 1000px;
            margin: 0 auto;
        }
        
        h1{
            
            font-size: 50px;
            margin-bottom: 10px;
        }

        h2{
            font-size: 30px;
            margin-bottom: 10px;
        }

        img{
            max-width: 500px;
            border: 1px solid white;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .centrar{
        display: block;
        margin-left: auto;
        margin-right: auto;
         }

        .centrar{
            text-align: center;
            color: white;
        }

        
       figure{
        text-align: center;
         margin-top: 30px;
         margin-bottom: 30px;
       }

       .texto_resaltar{
        text-align: center;
        font-weight: bold;
       }