*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    line-height: 1.6;
    background-color:white;

}

#noticias{
    padding: .4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 100vh;
}

#noticias h2{
    text-align: center;
    margin-bottom: 2rem;
}

.noticias-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

}
.noticias-card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.1) ;
}
.noticias-card img{
    
    width: 100%;
    height: 200px;
    object-fit: cover;
}



.noticias-card h3{
    padding: 1rem;
    color: #333;
}
.informacion{
    color: #5b0c0c;
    font-weight: bold;
    padding: 0 1rem;

}
.descripcion{
    padding: 1rem .5rem;
    color: #666;
}
.noticias-card button{
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}


.noticias-card button:hover{
     background-color: #000;
}

.btn button{
     margin: 1rem;
    padding: .5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
   
}
.btn button:hover{
     background-color: #000;
}

#contacto{
    background-color: #f9f9f9;
    padding: 4rem 2rem;

}
#contacto h2{
    text-align: center;
    margin-bottom: 2rem;
}
form{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction:column ;
    gap: 1rem;
}

input,textarea{
    padding: .8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}
textarea{
    height: 150px;
    resize: vertical;
}

form button{
    background-color: #5b0c0c;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
form button{
    background-color: #701616;
}
footer{
    background-color: #5b0c0c;
    color: white;
    text-align: center;
    padding: 2rem;

}
@media screen and (max-width: 430px) {
    /* Nota: Aquí también quité los estilos de nav y .nav-links */
    /* ya que pertenecen al header */
}