        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        body {
            background-color: black;
            color: white;
            line-height: 1.6;
        }

        main{
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
        
        .contenedor{
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
            padding: 50px;
        }
        .contenedor img{
            max-width: 500px;
            border: 1px solid white;
            margin-top: 10px;
            margin-bottom: 10px;

        }
        
        
        header, nav{
            background: linear-gradient(to bottom, #6B12B0, #030300);
        }
        footer{
            background: linear-gradient(to top, #6B12B0, #030300);
        }


.nav-links a:hover {
    color: floralwhite;
    background: linear-gradient(to top, #030300,#7f4ca7);
}

        .contenido_general{
            border: 1px solid white;    
            padding: 15px 20px;

        }

        .texto{
            text-align: justify;

        }
        
        .contenido_header, .contenido_footer {
            max-width: 1000px;
            margin: 0 auto;
        }
        
        h1{
            
            font-size: 50px;
            margin-bottom: 10px;
        }

        h2{
            font-size: 30px;
            margin-bottom: 10px;
        }

        /* img{
            max-width: 500px;
            border: 1px solid white;
            margin-top: 10px;
            margin-bottom: 10px;
        } */

        .centrar{
        display: block;
        margin-left: auto;
        margin-right: auto;
         }

        .centrar{
            text-align: center;
            color: white;
        }

        
       figure{
        text-align: center;
         margin-top: 30px;
         margin-bottom: 30px;
       }

       .texto_resaltar{
        text-align: center;
        font-weight: bold;
       }
       
       
       /*aqui van los codes del button de volver */


.btn button{
     margin: 1rem;
    padding: .5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
   
}
.btn button:hover{
     background-color: #000;
}
